* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    width: 70%;
    height: 550px;
    margin: 20px auto;
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;
}

.chevron {
    font-size: 30px;
    padding: 0 10px;
}