* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: none;
}

.container {
    width: 60%;
    margin: 20px auto;
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;
}

.chevron-left, .chevron-right {
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
}

.active {
    display: block;
}